<div id="home" class="container">	
	<div class="header">
		<div class="right">
			<a>Home</a>
			<a>My Profile</a>
			<a>Projects</a>
			<a>Friends</a>
			<a>Logout</a>
		</div>
		<h1>Home</h1>
	</div>
	
	<p id="notice"><%= notice %></p>
	
	<div class="left_panel">
		<div id="project">
			<h2>Projects</h2>

			<ul>
				<li>Christmas Party (23/12/2010)<br />
					&nbsp;&nbsp;&nbsp;&nbsp;Finished!</li>
				<li>Paulo's Birthday (23/12/2010)<br />
					&nbsp;&nbsp;&nbsp;&nbsp;You are owing 5,43 EUR!</li>
				<li>Dinner in John's House (23/12/2010)<br />
					&nbsp;&nbsp;&nbsp;&nbsp;Somebody is owing you 3,65 EUR!</li>
				<li>Rachel's Leaving Party (23/12/2010)<br />
					&nbsp;&nbsp;&nbsp;&nbsp;You are owing 7,40 EUR!</li>
			<ul>
		</div>

		<div id="news">
			<h2>News</h2>
			<ul>
				<li>You was invited for Momenso's Come in Party</li>
				<li>You was invited for Arabic Lunch</li>
				<li>You received a payment request for Dinner in John's House</li>
				<li>You received a payment confirmation for Paulo's Birthday</li>
			<ul>
		</div>
	</div>

	<div class="right_panel">
		<div id="activities">
			<h2>Activities</h2>
			<ul>
				<li><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/41430_1599067391_4915_q.jpg" /> Tatiana Gomes payed David Momenso for Christmas Party</li>
				<li><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/41651_764068674_852932_q.jpg" />Victor Hugo creates a new project named: Paulo's Birthday</li>
				<li><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/161431_100000723203406_8210216_q.jpg" />Ana Claudia confirmed participation in Dinner in John's House</li>
				<li><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/70520_699809128_8053971_q.jpg" />Maciej Blizinski have received all the money for Rachel's Leaving Party</li>
			<ul>
		</div>
	<div>

</div>