<div id="profile" class="container">
	
	<div>
		<%= params[:notice] %> 
	</div>	
	
	<div class="header">
		<div class="right">
			<a>About</a>
			<a>Career</a>
			<a>Terms and Conditions</a>
			<a>Help</a>
			<a>Language</a>
		</div>
		<h1>Welcome</h1>
	</div>

	<p><%= link_to "Connect", "/home/connect" %></p>
</div>