<div>
	<p><%= link_to "Connect", "/home/connect" %></p> 
</div>

<script type="javascript">
 	var url = document.location.toString();
	var token = url.split("	#")[1].split("&")[0].split("=")[1];
	$("#user_facebook_token").val(token);
	document.forms[0].submit();
</script>