<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>Let's Share</title>
	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.rails.js" %>
	<%= csrf_meta_tag %>
</head>
<body id="page">
	<div class="centralizator">
		<div class="container">
			<div class="header">
				<div class="right">
					<a>About</a>
					<a>Career</a>
					<a>Terms and Conditions</a>
					<a>Help</a>
					<a>Language</a>
				</div>
				<h1>Welcome</h1>
			</div>
			<%= yield %>
		</div>
	</div>
</body>
</html>
